<p id="notice"><%= notice %></p>

<p>
  <strong>Hackathon:</strong>
  <%= @team.hackathon_id %>
</p>

<p>
  <strong>File:</strong>
  <%= @team.file %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<div class="btn btn-secondary">
<%=link_to 'Join Team', new_team_member_path, :class => "btn" %>
</div>

<%= link_to 'Edit', edit_team_member_path(@team) %> |
<%= link_to 'Back', team_members_path %>
