<% @profiles.each do |profile| %>
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <% if profile.avatar_data.nil? %>
      <%=image_tag('alien.png', class: "profile")%>
    <% else %>
      <img class ="profile" src="<%= profile.avatar_url %>"></div>
    <% end %>
  <h4 class="card-title"><%= profile.name %></h4>
      <p class="card-text"><%= profile.description %></p>
  <div class="btn btn-outline-secondary">
      <%= link_to "See Profile", profile_path(id: profile.id) %>
  </div>
</div>
  <% end %>
