<p id="notice"><%= notice %></p>

<%= render 'messages' %>

<div class="card-profile">
  <% if @profile.avatar_data.nil? %>
       <%=image_tag('alien.png', class: "profile")%>
  <% else %>
    <img class ="profile" src="<%= @profile.avatar_url %>"></div>
  <% end %>
  <div class="card-block">
    <h4 class="profession-title">
      <%= @profile.profession %> </h4>
    <p class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= @profile.name %> <%= @profile.surname %> </p></li>
      </ul>
  </div>
  <div class="card-block">
    <li class="list-group-item">
    Bio:
      <%= @profile.description %> </p></li>
    </ul>
  </div>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', profiles_path(:id) %>
</div>
