<p id="notice"><%= notice %></p>

<div class="card" style="width: 20rem;">
  <img class ="profile" src="<%= @profile.avatar_url %>">
  <div class="card-block">
    <h4 class="profession-title">
      <%= @profile.profession %> </h4>
    <p class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= @profile.name %> <%= @profile.surname %> </p></li>
      </ul>
  </div>
</div>

<div class="card">
  <li class="list-group-item">
  Bio:
    <%= @profile.description %> </p></li>
  </ul>
</div>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
