<%= form_with(model: team_member, local: true) do |form| %>
  <% if team_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_member.errors.count, "error") %> prohibited this team_member from being saved:</h2>

      <ul>
      <% team_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.text_field :profile_id, id: :team_member_profile_id %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id, id: :team_member_team_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= form_for TeamMember.new do |f| %>
      <%= f.label :role %><br>
      <%= f.select :role, [ 'Hipster','Hacker','Hustler' ], :prompt => 'Select One' %>
      <%= f.submit %>
  <% end %>
<% end %>
