<div class="center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team_member.profile.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team_member.team.name %>
</p>

<p>
  <strong>Hackathon:</strong>
  <%= @team_member.team.hackathon.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @team_member.role %>
</p>

<% unless current_user.id == @team_member.id %>

  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount:$ <%= @team_member.team.hackathon.reward %> </span>
      </label>
    </article>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount=" <%= @team_member.team.hackathon.reward %>"
            data-locale="auto"></script>
  <% end %>
<%end%>

  <%= link_to 'Edit', edit_team_member_path(@team_member) %> |
  <%= link_to 'Back', team_members_path %>

</div>
