<p id="notice"><%= notice %></p>

<h1>Hackathons</h1>

<% @hackathons.each do |hackathon| %>
<div class="card" style="width: 40rem;">
  <div class="card-block">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Reward</th>
      <th>Max team count</th>
      <th>Date end</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
        <tr>
          <img src="<%= hackathon.avatar_url %>">
          <td><%= hackathon.name %></td>
          <td><%= hackathon.description %></td>
          <td><%= hackathon.reward %></td>
          <td><%= hackathon.max_team_count %></td>
          <td><%= hackathon.date_end %></td>
          <td><%= link_to 'Show', hackathon %></td>
          <td><%= link_to 'Edit', edit_hackathon_path(hackathon) %></td>
          <td><%= link_to 'Destroy', hackathon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

      </div>
    </div>
    </tbody>
  </table>
</div>
</div>
  <% end %>

<br>

<%= link_to 'New Hackathon', new_hackathon_path %>
