<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar data:</strong>
  <img src="<%= @hackathon.avatar_url %>">
</p>

<p>
  <strong>Name:</strong>
  <%= @hackathon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hackathon.description %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @hackathon.reward %>
</p>

<p>
  <strong>Max team count:</strong>
  <%= @hackathon.max_team_count %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @hackathon.date_end %>
</p>

<p>
  <strong>Choose a team to join</strong>

  <div class="btn btn-secondary">
  <%= link_to 'Hackathon Teams', hackathon_team_path(@hackathon.id), :class => "btn" %>
  </div>
</p>

<!-- <p>
  <strong>Team name1:</strong>
  <%= @hackathon.team_name1 %>
</p>

<p>
  <strong>Team name2:</strong>
  <%= @hackathon.team_name2 %>
</p>

<p>
  <strong>Team name3:</strong>
  <%= @hackathon.team_name3 %>
</p> -->

<%= link_to 'Back', hackathons_path %>

<%= link_to 'Edit', edit_hackathon_path(@hackathon) %> |
<%= link_to 'Back', hackathons_path %>
