<p id="notice"><%= notice %></p>

<strong>Avatar data:</strong>
<p>
  <img src="<%= @hackathon.avatar_url %>">
</p>

<p>
  <strong>Name:</strong>
  <%= @hackathon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hackathon.description %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @hackathon.reward %>
</p>

<p>
  <strong>Max team count:</strong>
  <%= @hackathon.max_team_count %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @hackathon.date_end %>
</p>





<%= link_to 'Edit', edit_hackathon_path(@hackathon) %> |
<%= link_to 'Back', hackathons_path %>
