<p id="notice"><%= notice %></p>
<% team_member = @team_member %>
<p>
  <strong>Avatar data:</strong>
  <img src="<%= @hackathon.avatar_url %>">
</p>

<p>
  <strong>Name:</strong>
  <%= @hackathon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hackathon.description %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @hackathon.reward %>
</p>

<p>
  <strong>Max team count:</strong>
  <%= @hackathon.max_team_count %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @hackathon.date_end %>
</p>

<p>
  <strong>Choose a team to join</strong>

<% @hackathon_teams.each do |team| %>
<% team_members = team.team_members %>

<h1> <%= team.name %> </h1>
  <br />

  <% if team_members.where(role: 'hipster').empty? == false %>
    <h2> The Hipster is: <%= team_members.where(role: 'hipster').first.profile.name %> !</h2>
    <br />
    <% else %>
      Hipster
      <%= render 'team_form', team_member: team_member, team_id: team.id, hackathons_id: @hackathon.id, role: 'hipster' %>
  <% end %>

  <% if team_members.where(role: 'hacker').empty? == false %>
  <h2> The Hacker is: <%= team_members.where(role: 'hacker').first.profile.name %> !</h2>
  <br />
    <% else %>
      Hacker
      <%= render 'team_form', team_member: team_member, team_id: team.id, hackathons_id: @hackathon.id, role: 'hacker' %>
  <% end %>

  <% if team_members.where(role: 'hustler').empty? == false %>
  <h2> The Hustler is: <%= team_members.where(role: 'hustler').first.profile.name %> !</h2>
  <br />
    <% else %>
      Hustler
      <%= render 'team_form', team_member: team_member, team_id: team.id, hackathons_id: @hackathon.id, role: 'hustler' %>
  <% end %>

<% end %>
<br />
</div>

<!-- <p>
  <strong>Team name1:</strong>
  <%= @hackathon.team_name1 %>
</p>

<p>
  <strong>Team name2:</strong>
  <%= @hackathon.team_name2 %>
</p>

<p>
  <strong>Team name3:</strong>
  <%= @hackathon.team_name3 %>
</p> -->

<%= link_to 'Back', hackathons_path %>

<%= link_to 'Edit', edit_hackathon_path(@hackathon) %> |
<%= link_to 'Back', hackathons_path %>
