<!DOCTYPE html>
<html>
  <head>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <title>Brainihack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
    <%= render 'partials/nav' if user_signed_in? %>
    <div class="container">
    <%= yield %>
    <%= render 'partials/bottom_nav' if user_signed_in? %>
    </div>
  </body>
</html>
