<!DOCTYPE html>
<html>
  <head>
    <script async defer src=“https://maps.googleapis.com/maps/api/js?key=AIzaSyARnE2Kn50_ZU2esdEqBcD9De5jOc8EeQs&callback=initMap“></script>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <title>Brainihack</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    <body>
    <%= render 'partials/nav' if user_signed_in? %>
    <%= yield %>
    <%= render 'partials/bottom_nav' if user_signed_in? %>
  </body>
</html>
